.content {
  max-width: 660px;
  background: #fff;
  padding: 40px 30px;
  margin: -1.45rem auto;
}

@media only screen and (max-width: 700px) { 
  .content {
    padding: 20px 20px;
    margin: -1.45rem -1.0875rem;
  }
}

.content p {
  font-weight: 400;
}

.hero {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  display: block;
}