.newsTitleLink {
  text-decoration: none;
  color: #000;
  display: flex;
}

.pageName {
  font-size: 3rem;
  text-transform: capitalize;
}

.article {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  //background: #fff;
  //padding: 20px;
}

.newsTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .newsTitle {
    font-size: 32px;
  }
}

.newsExcerpt {
  display: none;
  white-space: break-spaces;
}

.heroImage {
  margin-left: 20px;
  height: 300px;
  width: 300px;
}