@value colors: "./colors.css";
@value themeBackground, borderColor, artebellaYellow, artebellaRed, artebellaGreen, artebellaPurple  from colors;

.header {
  display: flex;
}

.nav {
  display: flex;
  flex: 1;
}

.nav ul {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  text-align: center;
}

.nav ul li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-left: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
}

.nav > ul > li:first-of-type { 
  border-left: 0px;
}

.menuIcon {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  border: 10px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  display: none;
}

@media only screen and (max-width: 700px) {
  .menuIcon {
    display: flex;
  }

  .nav ul {
    grid-template-columns: 1fr;
  }
  
  .nav ul li {
    border-left: 0px;
  }

  .navlink.desktop {
    display: none;
  }
}

.link {
  composes: navigationlink from "./styles.module.css";
}

@media only screen and (max-width: 600px) {
  .nav {
    border-top: 1px solid borderColor;
  }
}

.link.logo {
  font-size: 32px;
  font-weight: 900;
}

@media only screen and (max-width: 800px) { 
  .link.logo {
    font-size: 29px;
  }
}

.navlink .link {
  text-transform: uppercase;
}

.navlink .link:hover {
  font-weight: 700;
}

/* HOVER COLOR STYLING */

.nav > ul > li > a:hover,
.nav > ul ul > li > a:hover {
  color: artebellaRed;
}

.nav > ul > li:nth-child(2) > a:hover,
.nav > ul ul > li:nth-child(2) > a:hover {
  color: artebellaYellow;
}

.nav > ul > li:nth-child(3) > a:hover,
.nav > ul ul > li:nth-child(3) > a:hover {
  color: artebellaGreen;
}

.nav > ul > li:nth-child(4) > a:hover,
.nav > ul ul > li:nth-child(4) > a:hover {
  color: artebellaPurple;
}


/* SUBNAV */

.nav ul ul {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  flex: 1;
  flex-direction: column;
  bottom: 0px;
  vertical-align: bottom;
  top: 100%;
  border-top: 1px solid borderColor;
  z-index: 2;
}

.nav ul li:hover ul {
  display: flex;
}

@media only screen and (max-width: 700px) { 
  .nav ul li:hover ul {
    display: none;
  }
}

.nav ul ul li {
  border-right: 1px solid borderColor;
  margin-left: -1px;
  margin-right: -1px;
}
