@value colors: "./colors.css";
@value borderColor from colors;

.content {
  display: flex;
}

@media only screen and (max-width: 700px) { 
  .content {
    flex-direction: column;
  }
}

.main {
  flex: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
}

.sidebar {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
}

@media only screen and (max-width: 700px) { 
  .sidebar {
    max-width: 100%;
  }
}

.sidebar ul, .sidebar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  border-left: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
}

@media only screen and (max-width: 700px) { 
  .sidebar ul li:first-of-type {
    border-top: 1px solid borderColor;
  }

  .sidebar ul li {
    border-left: 0px;
  }
}

.sidebarTitle {
  composes: navigationlink from "./styles.module.css";
  text-transform: uppercase;
}

.sidebarTitle svg {
  width: 20px;
  margin-left: 7px;
}
